
<header>

    <div class="search-bar">
      <input type="text" placeholder="Search" class="search-input">
      <button>
        <i class="fa fa-search"></i>
        </button>
    </div>
  
    <div class="spacer1"></div>
  
    <nav>
      <a routerLink="/home" >Home</a>
      <a routerLink="/hierarchy" >Hierarchy</a>
      <a routerLink="/add-plant" >Add Plant</a>
    </nav>
  
    <div class="spacer2"></div>
  
    <div class="auth-section">
      <a routerLink="/login">Log in/ Register</a>
      <button>
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="spacer3"></div>

  </header>