<div class="home">
     
    <div class="content">
      <h1 style="color: #5a5b5d; font-size: 50px;">Plants Hierarchy </h1>
      <br>
      <br>
      <p style="color: #707470; font-size: 35px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quidem molestiae nam animi necessitatibus porro maiores deleniti doloribus amet, voluptatum, beatae facere quod a nisi dolor vero magni, molestias temporibus?</p>
    </div>  
    
    <div class="circle-container">
      <img src="assets/plant 1.jpg" alt="Your Image">
    </div>

    <div class="circle-container2">
      <img src="assets/plant 2.jpg" alt="Your Image">
    </div>

  </div>